<div class="row">
  <div class="col-sm-10 col-sm-offset-1">
    <h2>Addy's</h2>
    <table class="table">
      <thead>
        <td>
          <h3>Name</h3>
        </td>
        <td>
          <h3>Company</h3>
        </td>
        <td class="text-center">
          <h3>View</h3>
        </td>
        <td class="text-center">
          <h3>Edit</h3>
        </td>
        <td class="text-center">
          <h3>Delete</h3>
        </td>
      </thead>
      <tbody class="table-striped" ng-repeat="contact in contact">
        <td>
          <h3>{{contact.firstName}} {{contact.lastName}}</h3>
        </td>
        <td>
          <h3>{{contact.company}}</h3>
        </td>
        <td class="text-center">
          <button class="btn btn-success btn-sm"><span class="glyphicon glyphicon-camera"></span></button>
        </td>
        <td class="text-center">
          <button class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-trash"></span></button>
        </td>
        <td class="text-center">
           <button class="btn btn-warning btn-sm"><span class="glyphicon glyphicon-pencil"></span></button>
        </td>
      </tbody>
    </table>
  </div>
</div>